<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @project.title %></h1>
      <small>Created by:
				<%= @project.user.name %>
      </small>
      <br>
      <% unless @project.collaborators.empty? %>
        <small>
          Collaborators:
				<%= @project.collaborators.collect(&:name).join(", ") %>
        </small>
      <% end %>
      <div id="button-row">
        <% if policy(@project).edit? %>
          <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Create Category", new_project_category_path(@project), class: "btn btn-warning" %>
        <%= link_to "Add Members", add_member_path, class: "btn btn-warning", :data => { toggle: "modal", target: "#add_member" }, remote: true  %>
        <%= render 'users/add_member' %>
        <% if policy(@project).destroy? %>
          <%= link_to "Delete Project", project_path(@project), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
      <p><%= @project.description %></p>
      <%# TODO: Add a link to assets#index %>
      <%# link_to "All", project_category_assets_path, class: "btn btn-primary" %>
      <h3>Project Categories:</h3>
      <%= render @project.categories %>
    </div>
  </div>
</div>
