<div class="row">
  <div class="col-md-4">
    <h1>New Assets</h1>
    <%= form_for @asset, :url => project_category_assets_path do |f| %>
      <%= render "shared/errors", object: @asset %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
      <%= select("category", "category_id", Category.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Category'}, class: 'form-control') %>
      <%= f.submit "Create Asset", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<%= console %>
