<div class="container">
<div class="row">
<div class="col-md-4">
	<h1>New Asset</h1>
	<%= form_for @asset, :url => project_category_assets_path do |f| %>
	<%= render "shared/errors", object: @asset %>

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: 'form-control'  %>
	</div>

	<div class="form-group">

		<!-- if category_id then hidden field else show collection_select -->
		<% if params[:category_id] %>
			<%= f.hidden_field :category_id, :value => params[:category_id] %>
		<% else %>
			<%= f.label :select_category %>
			<%= f.collection_select :category_id, @project.categories, :id, :name, { :prompt => "Select a category" }, {:class=>'form-control'} %>
		<% end %>
	</div>

		<div class="form-group">
			<%= f.label :upload_file %>
			<%= f.file_field :asset_file %>
		</div>


	<div class="form-group">
			<%= f.submit "Upload", class: "btn btn-success" %>
	</div>

	<% end %>
</div>
</div>
</div>
