<div class="container">
  <div class="row">
<div class="col-md-6 col-md-offset-3">

<%= params %>

  <h1>Add New Post</h1>

  <%= form_for ([:project, :category, @post]) do |f| %>
  <%= render "shared/errors", object: @post %>

  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content%>
    <%= f.text_area :content, class: 'form-control', rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.submit "Create", class: 'btn btn-success' %>
  </div>

  <% end %>
</div>
</div>

</div>
