<div class="col-md-8 col-md-offset-3">
<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

 <%= link_to "Edit Post", edit_project_category_post_path %>


 <%= render partial: "comments/comments", locals: {commentable: @post} %>
 <%= render partial: "comments/form", locals: {commentable: @post} %>

<%# render 'disqus' %>



</div>
